{% extends 'management/base.html' %}
{% load static %}

{% block pagetitle %}
    Data Penerima Bantuan
{% endblock %}

{% block pagelink %}
    <li class="breadcrumb-item"><a href="{% url 'ManagementDashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Daftar Usulan Bantuan</li>
{% endblock %}

{% block bodycontent %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nomer KK</th>
                                <th>Nik</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>Rt</th>
                                <th>Rw</th>
                                <th>Status</th>
{#                                <th>Bantuan</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for warga in list %}
                                <tr>
                                    <td>{{ warga.Keluarga }}</td>
                                    <td>{{ warga.Nik }}</td>
                                    <td>{{ warga.Nama }}</td>
                                    <td>{{ warga.Alamat }}</td>
                                    <td>{{ warga.Rt }}</td>
                                    <td>{{ warga.Rw }}</td>
                                    <td>{{ warga.Status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfooter %}
    <script src="{% static "/assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.flash.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/jszip.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/pdfmake.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/vfs_fonts.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.html5.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.print.min.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
{% endblock %}