{% extends 'kabupaten/base.html' %}
{% load static %}

{% block pagetitle %}
    Pencarian
{% endblock %}

{% block pagelink %}
    <li class="breadcrumb-item"><a href="{% url 'KabupatenDashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Pencarian</li>
{% endblock %}

{% block bodycontent %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-body">
                            <h3 class="box-title">Data Pencarian</h3>
                            <hr>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nomer">
                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success"><i
                                        class="fa fa-search"></i> Search
                                </button>
                                <button type="button" class="btn btn-inverse">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive m-t-40">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nik</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>Rt</th>
                                <th>Rw</th>
                                <th>Desa</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for warga in list %}
                                <tr>
                                    <td>{{ warga.Nik }}</td>
                                    <td>{{ warga.Nama }}</td>
                                    <td>{{ warga.Alamat }}</td>
                                    <td>{{ warga.Rt }}</td>
                                    <td>{{ warga.Rw }}</td>
                                    <td>{{ warga.Desa.Nama }}</td>
                                    <td>
                                        <a href="{% url 'KabupatenKependudukanWargaFormsUpdate' warga.id %}"
                                           data-toggle="tooltip" data-original-title="Edit"> <i
                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfooter %}
    <script src="{% static "/assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.flash.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/jszip.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/pdfmake.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/vfs_fonts.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.html5.min.js" %}"></script>
    <script src="{% static "/assets/plugins/datatables/button-export/buttons.print.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
{% endblock %}